* {
    font-family: 'VT323', monospace;
}

body{
    background-image: radial-gradient(darkred 80%, red 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 10px;
}

h1{
    font-size: 100px;
}

.background{
    background-color: #201b2c;
    height: 98vh;
    width: 98vw;
    border-radius: 50px;
}

.flex-colum{
    width: 50vw;
    text-align: center;
    vertical-align: middle;
}

img{
    height: 1000px;
    width: 1000px;
}