video{
    height: max-content;
    width: max-content;
    position: absolute;
    opacity: 0.9;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

th, td{
    border: 1px black solid;
    padding: 10px;
    background-color: white;
}

.none{
    border: none !important;
    background-color: transparent !important;
}