* {
    font-family: "Times New Roman";
}

body{
    margin: 100px 100px;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, gold 50%, grey 50%) 1;
    background-image: linear-gradient(to bottom, cyan, darkblue);
    background-repeat: no-repeat;
    background-size: cover;
}

.background{
    background: linear-gradient(to bottom, red, crimson);
    box-shadow: inset 0 0 50px darkred, inset 0 0 50px darkred;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 10px;
    height: 600px;
}

.item1{
    flex: 1;
    background-color: white;
    border: 1px black solid;
    text-align: center;
    padding: 25px 0;
    height: 20px;
}

ul{
    margin: 0;
    padding: 0;
}

h3{
    background-color: white;
}

h3, ul{
    display: none;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

@media screen and (max-width: 600px){
    .item1{
        display: none;
    }
    
    h3{
        display: block;
    }

    li{
        list-style-type: none;
        padding: 10px 0;
        background-color: white;
    }
}